/* Diseño de las tarjetas de categorías */
.category-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en filas */
    gap: 20px; /* Espacio entre tarjetas */
}

.category-card {
    flex: 1 1 calc(33.33% - 20px);
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    background-color: white;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.category-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f0a500;
}

.category-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 15px 0;
    text-align: center;
    color: #333333;
}

.category-body {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive para tablets */
@media (max-width: 768px) {
    .category-card {
        flex: 1 1 calc(50% - 20px); /* 2 columnas en tablets */
    }
}

/* Responsive para móviles */
@media (max-width: 480px) {
    .category-container {
        gap: 15px;
    }
    
    .category-card {
        flex: 1 1 100%; /* 1 columna en móviles */
    }
    
    .category-card img {
        height: 150px;
    }
    
    .category-header h2 {
        font-size: 1.3rem;
    }
}
