/* Estructura general de las tarjetas de productos */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático de columnas */
    gap: 20px;
    padding: 20px;
    align-items: stretch;
}

.product-card {
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);  /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);  /* Sombra en hover */
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f0a500;  /* Igual que las categorías */
}

.product-header {
    min-height: 60px; /* Altura mínima para mantener la consistencia */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.product-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    color: #333333;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  /* Limita a 2 líneas */
    overflow: hidden;
    white-space: normal; /* Permite saltos de línea */
    text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */
}

.product-body {
    padding: 15px;
    background-color: #f9f9f9;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del contenedor del precio y la web */
.product-info {
    padding: 10px;
    background-color: #fff;  /* Fondo blanco */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
}

.product-info p {
    margin: 0;
}

.product-page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 2px solid #f0a500;
    display: inline-block;
    transition: color 0.3s ease;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Menor ancho en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .product-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Aún menos ancho en pantallas pequeñas */
    }
}
